<template>
	<div>
		<base-zing-chart :data="chartConfig" :height="height" width="100%" class="of-visible" dir="ltr"></base-zing-chart>
	</div>
</template>

<script>
let average = (array) => (Array.isArray(array) ? array.reduce((a, b) => a + b, 0) / array.length : 0);
let colors = [
	'#4A63BF',
	'#694B53',
	'#BD4A24',
	'#339625',
	'#41b581',
	'#ff8373',
	'#ffda83',
	'#f5a520',
	'#e43b58',
	'#91debe',
	'#6f6f95',
	'#9fe175',
	'#55dce0',
	'#3566ce',
];
let sharedConfig = {
	backgroundColor: 'transparent',
	plotarea: {
		marginTop: '0',
		marginRight: '30',
		marginBottom: '90',
		marginLeft: '30',
	},
	legend: {
		backgroundColor: 'none',
		borderWidth: '0px',
		item: {
			fontColor: '#808080',
		},
	},
	scaleX: {
		label: {
			text: 'Date',
			'font-size': '14px',
			'font-weight': 'normal',
			'offset-x': '10%',
			'font-angle': 360,
		},
		item: {
			'text-align': 'center',
			'font-color': '#2A4B65',
		},
		zooming: 1,
		'max-labels': 12,
		'max-items': 12,
		'items-overlap': true,
		guide: {
			'line-width': '0px',
		},
		tick: {
			'line-color': 'none',
			'line-width': '2px',
		},
	},
	'crosshair-x': {
		'line-color': '#fff',
		'line-width': 1,
		'plot-label': {
			visible: false,
		},
	},
	scaleY: {
		'line-color': 'none',
		item: {
			'font-color': '#2A4B65',
			'font-weight': 'normal',
		},
		label: {
			// "text":"Metrics",
			'font-size': '14px',
		},
		tick: {
			'line-color': 'none',
		},
		guide: {
			'line-width': '0px',
			alpha: 0.2,
			'line-style': 'dashed',
		},
	},
	plot: {
		'line-width': 4,
		'font-color': '',
		'bars-space-left': 0.15,
		'bars-space-right': 0.15,
		borderRadius: 3,
		'bar-width': '30px',
		tooltip: {
			'font-size': '15px',
			text: '%t: %v',
			'text-align': 'left',
			'border-radius': 5,
			padding: 10,
		},
	},
};

const update = (obj, newObj) => {
	for (let prop in newObj) {
		let val = newObj[prop];

		if (typeof val == 'object') update(obj[prop], val);
		else obj[prop] = val;
	}
};

import BaseZingChart from '../BaseZingchart/index';

export default {
	name: 'LineBarAreaChart',
	components: { BaseZingChart },
	props: {
		series: {
			type: Array,
			default: () => [],
		},
		labels: {
			type: Array,
			default: () => [],
		},
		xLabel: {
			type: String,
			default: '',
		},
		yLabel: {
			type: String,
			default: '',
		},
		height: {
			type: String,
			default: '300px',
		},
		customConfiguration: {
			type: Object,
			default: () => ({}),
		},
		chartType: {
			type: String,
			default: 'area',
		},
		twoYAxis: {
			type: Boolean,
		},
	},
	data() {
		return {
			chartConfig: {},
		};
	},
	mounted() {
		this.chartConfig = this.chartConfigByType;
	},
	computed: {
		isDarkMode() {
			return true;
		},
		getSeries() {
			let avgArr = this.series.map((s) => average(s.values));
			let avg = average(avgArr);

			return this.series.map((item, index) => {
				let seriesAvg = average(item.values);
				let color = item.color ? item.color : colors[index];
				let itemColors = item.colors || [];

				return {
					scales: this.twoYAxis ? `scale-x,${avg > seriesAvg ? 'scale-y-2' : 'scale-y'}` : null,
					values: item.values,
					text: item.label,
					lineColor: color,
					backgroundColor: this.chartType == 'area' ? `${color} none` : color,
					aspect: 'spline',
					alphaArea: '.4',
					marker: {
						backgroundColor: color,
						size: 7,
						borderColor: '#fff',
						borderWidth: 3,
						styles: itemColors.map((color) => ({
							lineColor: color,
							borderColor: 'white',
							backgroundColor: color,
						})),
					},
					legendMarker: {
						backgroundColor: color,
					},
					styles: itemColors.map((color) => ({
						backgroundColor: this.chartType == 'area' ? `${color} none` : color,
						lineColor: color,
					})),
				};
			});
		},
		legend() {
			return {
				legend: {
					layout: 'x10',
					alpha: 0.05,
					shadow: false,
					y: '90%',
					x: -10,
					backgroundColor: 'none',
					marker: {
						type: 'circle',
						borderColor: 'none',
						size: '4px',
					},
					item: {
						fontSize: '15px',
						fontColor: this.getPrimaryColor,
					},
					borderWidth: 0,
				},
			};
		},
		scales() {
			let max = this.series.length
				? Math.max(
						...this.series.map((item) => {
							return item.values && item.values.length ? Math.max(...item.values) : 0;
						}),
				  )
				: 0;

			let labels1 = this.labels.length ? [...this.labels[0].labels] : [];
			let labels2 = this.labels.length > 1 ? [...this.labels[1].labels] : [];

			let isSameDates = this.isSameDates(labels1, labels2);

			const transformObject = this.xAxisTransformObjectHandler(labels1);

			let config = {
				scaleX: {
					values: labels1.map((date) => new Date(date).getTime()),
					label: {
						fontWeight: 'bold',
						fontAngle: 360,
						offsetX: '0',
						offsetY: 35,
						textAlign: 'right',
						verticalAlign: 'bottom',
						text: this.xLabel || '',
						width: 20,
						fontColor: this.getPrimaryColor,
						fontSize: '15px',
					},
					item: {
						offsetY: 7,
						fontColor: this.getPrimaryColor,
					},
					...transformObject,
				},
				scaleY: {
					maxValue: Math.max(max, 6) + 1,
					label: {
						text: this.yLabel || '',
						fontColor: this.getPrimaryColor,
						fontSize: '15px',
						textAlign: 'left',
						verticalAlign: 'top',
						fontAngle: 0,
						width: 20,
						offsetX: 30,
						offsetY: -30,
					},
					item: {
						fontColor: this.getPrimaryColor,
					},
				},
			};

			if (this.twoYAxis) {
				let avgArr = this.series.map((s) => average(s.values));
				let avg = average(avgArr);
				let seriesY2Max = Math.max(
					...this.series.filter((s) => average(s.values) < avg).map((s) => Math.max(...s.values)),
				);

				config.scaleY2 = {
					maxValue: seriesY2Max + 1,
					label: {
						fontColor: this.getPrimaryColor,
						fontSize: '15px',
						textAlign: 'right',
						verticalAlign: 'top',
						fontAngle: 0,
						width: 20,
					},
					item: {
						fontColor: this.getPrimaryColor,
					},
				};
			}

			if (labels2.length && !isSameDates)
				config.scaleX2 = {
					values: labels2.map((date) => new Date(date).getTime()),
					placement: 'default',
					lineWidth: 0,
					item: {
						offsetY: -15,
						fontColor: this.getPrimaryColor,
					},
					tick: {
						visible: false,
					},
					...transformObject,
				};

			return config;
		},
		chartConfigByType() {
			switch (this.chartType) {
				case 'area':
					let areaConfig = {
						type: 'area',
						...sharedConfig,
						series: this.getSeries,
						...this.scales,
						...this.legend,
					};
					update(areaConfig, this.customConfiguration);
					return areaConfig;
				case 'line':
					let lineConfig = {
						type: 'line',
						...sharedConfig,
						series: this.getSeries,
						...this.scales,
						...this.legend,
					};
					update(lineConfig, this.customConfiguration);
					return lineConfig;
				case 'bar':
					let barConfig = {
						type: 'bar',
						...sharedConfig,
						series: this.getSeries,
						...this.scales,
						...this.legend,
					};
					update(barConfig, this.customConfiguration);
					return barConfig;
				default:
					return {};
			}
		},
		getPrimaryColor() {
			return this.isDarkMode ? '#A9A9B1' : '#1D405B';
		},
	},
	methods: {
		xAxisTransformObjectHandler(datesArray) {
			const daysDiff = this.getDifferenceInDays(new Date(datesArray[0]), this.getLastValidDate(datesArray));
			if (daysDiff > 2) {
				return {
					transform: {
						type: 'date',
						all: '%Y-%mm-%dd',
						item: {
							visible: false,
						},
					},
				};
			}
			return {
				transform: {
					type: 'date',
					all: '%H:%i',
					item: {
						visible: false,
					},
				},
			};
		},
		getDifferenceInDays(date1, date2) {
			const diffInMs = Math.abs(date2 - date1);
			return diffInMs / (1000 * 60 * 60 * 24);
		},
		getLastValidDate(dates) {
			return new Date(dates.reduce((acc, date) => date || acc, ''));
		},
		isSameDates(dates1, dates2) {
			const daysDiff = this.getDifferenceInDays(new Date(dates1[0]), this.getLastValidDate(dates1));
			let same = true;

			dates1.forEach((date, i) => {
				if (i > Math.min(dates1.length, dates2.length)) return;

				let date1 = new Date(date),
					date2 = new Date(dates2);

				if (daysDiff > 2) {
					if (
						date1.getFullYear() != date2.getFullYear() ||
						date1.getMonth() != date2.getMonth() ||
						date1.getDate() != date2.getDate()
					) {
						same = false;
					}
				} else {
					if (date1.getHours() != date2.getHours() || date1.getMinutes() != date2.getMinutes()) {
						same = false;
					}
				}
			});

			return same;
		},
	},
	watch: {
		customConfiguration: {
			handler(val) {
				this.chartConfig = this.chartConfigByType;
			},
			deep: true,
		},
		chartConfigByType: {
			handler(val) {
				this.chartConfig = val;
			},
			deep: true,
		},
		chartType: {
			handler(val) {
				this.chartConfig = this.chartConfigByType;
			},
			deep: true,
		},
	},
};
</script>

<style lang="scss">
.of-visible {
	overflow: visible !important;
	z-index: -1;

	div {
		overflow: visible !important;
	}

	svg {
		overflow: visible !important;
	}
}
</style>
