<template>
	<div id="app">
		<gauge-chart :ranges="ranges" :stats="stats" />

		<line-area-bar-chart
			:chartType="lineAreaBarChart.chartType"
			:height="lineAreaBarChart.height"
			:labels="lineAreaBarChart.labels"
			:series="lineAreaBarChart.series"
			:xLabel="lineAreaBarChart.xLabel"
			:yLabel="lineAreaBarChart.yLabel"
			:showRanges="lineAreaBarChart.showRanges"
			two-y-axis
		/>
	</div>
</template>

<script>
import GaugeChart from './components/GaugeChart/index.vue';
import LineAreaBarChart from './components/LineAreaBarChart/index';

export default {
	name: 'App',
	components: {
		GaugeChart,
		LineAreaBarChart,
	},
	data: () => ({
		ranges: [
			{ end_range: 15, start_range: 0, status: 'problem' },
			{ end_range: 30, start_range: 15, status: 'poor' },
			{ end_range: 45, start_range: 30, status: 'ok' },
			{ end_range: 500, start_range: 45, status: 'good' },
			{ end_range: 700, start_range: 500, status: 'ok' },
			{ end_range: 800, start_range: 700, status: 'poor' },
			{ end_range: 900, start_range: 800, status: 'problem' },
		],
		stats: { min: 1, avg: 2, max: 3 },
		lineAreaBarChart: {
			chartType: 'area',
			height: '300px',
			labels: [
				{
					labels: [
						'2020-12-30T11:00:00.000Z',
						'2020-12-31T11:00:00.000Z',
						'2021-01-01T11:00:00.000Z',
						'2021-01-02T11:00:00.000Z',
						'2021-01-03T11:00:00.000Z',
						'2021-01-04T11:00:00.000Z',
						'2021-01-05T11:00:00.000Z',
						'2021-01-06T11:00:00.000Z',
					],
				},
			],
			series: [
				{
					color: 'rgb(232, 217, 29)',
					label: 'Ok',
					values: [0, 0, 0, 0, 0, 0, 0, 0],
				},
				{
					color: 'rgb(230, 162, 60)',
					label: 'Poor',
					colors: ['red', 'blue', 'green'],
					values: [2, 4, 7, 5, 0, 0, 0, 2],
				},
				{
					color: 'rgb(242, 57, 59)',
					label: 'Problem',
					values: [27, 6, 9, 6, 0, 0, 0, 5],
				},
			],
			showRanges: false,
			xLabel: '',
			yLabel: '',
		},
	}),
};
</script>

<style>
#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
	margin-top: 60px;
}
</style>